@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    margin: auto;
}

 /* herder section */

 .header-section{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
     url(../images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    border-radius: 18px;
    display: flex;
 }

 .banner-title{
   text-align: center;
   margin: auto;
 }

 .banner-title h5{
   color: rgba(197, 187, 185, 0.777);
   text-align: center;
   font-size: 25px;
   color: #fff;
 }

 .banner-title h2{
   color: white;
   text-align: center;
   font-size: 70px;
   width: 700px;
 }

 /* main-section */

 .manu-container{
   width: 700px;
   height: 600px;
   text-align: center;
   margin-top: 40px;
   background: #fff;
 }

 .container-title h1{
   color: #F00;
   text-align: center;
   font-family: Inter;
   font-size: 88px;
   font-weight: 700;
 }

 .container-title span{
   color: #F00;
   text-align: center;
   font-family: 'Inter';
   font-size: 20px;
   font-weight: 400;
 }

 .tontainer-title h2{
   margin-top: 20px;
   color: #0f022b;
   text-align: center;
   font-family: 'Inter';
   font-size: 45px;
   font-weight: 700;
 }

 .container-img{
   margin-top: 30px;
   width: 800px;
   height: 500px;
 }


/*  welcome-party-section   */



 section{
  margin-bottom: 145px;
 }

 .welcome-container{
  background-image:  linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
   url(../images/Vectorrr.png);
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  margin: auto;
  display: flex;
  border-radius: 18px;
 }

 .welcome-title{
  width: 700px;
  height: 500px;
  margin-top: 150px;
 }

 .welcome-title h2{
 color: #FFF;
 font-family: Merriweather;
 font-size: 60px;
 font-weight: 900;
 line-height: 80px;
 letter-spacing: 7px;
 margin-bottom: 15px;
 }
.welcome-title p{
 color: #f1f0f0cc;
 font-family: 'Inter';
 font-size: 18px;
 font-weight: 400;
 line-height: 30px; 
 margin-bottom: 15px;
}

 .welcome-img{
  width: 315px;
  height: 460px;
  display: flex;
 }

.welcome-title button{
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  background: none;
  border: none;
  margin-top: 20px;

}

/* hotel-info-section */

.info-section{
  width: 1320px;
  height: 475px;
  background: linear-gradient(180deg, #ff00001a 0%, #ff000000 100%);
  border-radius: 15px;
}

.info-title{
  width: 700px;
  height: 100%;
  margin: auto;
  text-align: center;
}

.info-items{
 text-align: center;
 padding-top: 100px;
}

.info-items p{
 color: #070211;
 font-weight: 700;
 line-height: 45px;
 text-align: center;
 font-family: Inter;
 font-size: 30px;
}

.info-items span{
 color: #f20505;
 text-align: center;
 font-family: 'Inter';
 font-size: 32px;
 font-weight: 700;
}

.info-title button{
  background: #f20505;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #FFF;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

/* 2024-celabriton-section */

.offer-container{
  width: 1320px;
  height: 475px;
  display: flex;
}

.offer-info{
  width: 350px;
  height: 125px;
}

.offer-info span{
  color: #e20606;
  font-weight: 600;
}

.offer-title h4{
  font-size: 30px;
  margin-top: 12px;
  margin-bottom: 12px;

}

.offer-info-p p {
  line-height: 26px;
}

.offer-img {
  width: 410px;
  height: 410px;
  border: 17px solid #e20606;
  border-radius: 100%;
  position: relative;
  margin: auto;
  display: flex;
}

.celabration-title {
    padding-top: 135px;
  
  }


.celabration-title h4 {
  font-size: 47px;
  font-weight: 700;
  font-family: 'Inter';
  color: #e20606;
  margin-bottom: 10px;
}

.celabration-2024 {
  width: 266px;
  display: flex;
  margin-top: 25px;
}

.offer-2024-p p {
  color: #302E8E;
  color: #07021199;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.offer-icon img {
  width: 106px;
  height: 106px;
  margin-top: 25px;
}

/* sale-offer-section */

.sale-container {
  width: 1320px;
  height: 470px;
}

.sale-offer {
  width: 1000px;
  text-align: center;
}


.sale-offer b{
  color: #070211;
  font-family: 'Inter';
  font-size: 24px;
  font-weight: 500;

}

.sale-offer h1 {
  font-size: 70px;
  font-weight: 900;
  font-family: 'Inter';
  height: 107px;
}

.sale-offer h1 span {
  color: #e20606;
}

.sale-offer p {
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  text-align: center;
  font-family: Inter;
  justify-content: center;
}


/* images section */

.images-main-container {
  width: 1320px;
  position: relative;
  height: 600px;
  margin-bottom: 20px;
}

.images-container img {
  position: absolute;
}







/* discount-section */

.discount-container{
  width: 1320px;
  height: 800px;
  position: relative;

}

.discount-container img{
  position: absolute;
}

/* portfolio-section */

.portfolio-container{
  width: 1320px;
  height: 1200px;
  margin: auto;
}

.portfolio-title {
  width: 800px;
  margin: initial;
  margin-bottom: 40px;
}

.portfolio-title b {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.portfolio-title h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.portfolio-title p {
  color: #07021199;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* subscript section */

.subscript-container {
  background: #fff2f2;
  width: 1320px;
  height: 610px;
  border-radius: 15px;
}

.subscirpt-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 15px
}

.subscript-title {
    width: 890px;
    text-align: center;
    margin-bottom: 15px;
}

.subscript-title h2 {
  color: #070211;
  text-align: center;
  font-family: 'Merriweather';
  font-size: 48px;
  font-weight: 900;
}

.subscript-title p {
  color: #07021199;
  margin-top: 15px;
  text-align: center;
  font-family: 'Inter';
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.subscript-btn {
  width: 648px;
  text-align: center;
  position: relative;
  margin-top: 35px;
}

.subscript-btn input[type="email"] {
  background: #ffffff;
  height: 70px;
  border: none;
  font-size: 15px;
  color: #0702114d;
  border-radius: 30px 0 0 30px;
  width: 270px;
}

.subscript-btn input[type="submit"] {
  background: #e20606;
  color: white;
  border: navajowhite;
  height: 70px;
  width: 220px;
  border-radius: 0 30px 30px 0;
  font-size: 25px;
  letter-spacing: 2px;
}

/* footer-sectio */

.footer-section {
  width: 1600px;
  height: 650px;
  background: #070211;
}

.footer-container {
  width: 1320px;
  height: 600px;
}

.footer-info {
  display: flex;
  padding-top: 74px;
  padding-bottom: 23px;
  border-bottom: 1px solid #ffff;
}

.info-p {
  width: 360px;
  height: 70px;
  color: white;
}

.info-p p {
  line-height: 24px;
  font-size: 18px;
}

.contact-info {
  color: white;
  width: 360px;
  height: 70px;
  font-size: 20px;
}

.contact-info ul li i {
  text-decoration: none;
  font-size: 14px;
}

.contact-info ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.social-icon {
  width: 1320px;
  text-align: center;
  padding-top: 75px;
}

.social-icon a i {
  width: 65px;
  font-size: 45px;
}

.copy-rights-reserved {
  border-top: 1px solid #fff;
  text-align: center;
  color: wheat;
  margin-top: 70px;
  display: flex;
}

.all-rights {
  width: 400px;
  height: 50px;
}

.unsubscribe {
  width: 400px;
  height: 50px;
}

.unsubscribe {
  width: 400px;
  height: 50px;
  margin-top: 172px;
  font-size: 24px;
}

.all-rights {
  width: 400px;
  height: 50px;
  margin-top: 173px;
  font-size: 22px;
}